body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

table {
  border-collapse: collapse; /*table内のcell感を共有するか分離するか 共有:collapse 分離:ceparate*/
  border: 2px solid #eee;
}

thead,
tfoot {
  background-color: #eee;

}

th,
td {
  padding: 8px;
  text-align: center;
}

tbody td:first-child {
  color: red;
}
tbody td:last-child {
  color: blue;
}

tfoot {
  font-weight: bold;
}

td.disabled {
  opacity: 0.3;
}

td.today {
  font-weight: bold;
}

#prev,
#next,
#today {
  cursor: pointer;
  user-select: none; /*ブラウザで選択すると青い枠ができてしまうのをなくす*/
}
